@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

:root{
  --righteous: 'Righteous', cursive;
  --sarala: 'Sarala', sans-serif;
}

body{
  background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho {
  align-items: center;
  display: flex ;
  height: calc(15vh - 1rem);
  justify-content:space-around;
  padding: 1rem 0;
}

.cabecalho__imagem{
  height: 4rem;
  transition: 0.2s;
}

.cabecalho__imagem:hover{
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 0px 0px 10px 2px #fff2e714;
}

.cabecalho__nav{
  display: flex;
  font-family: var(--sarala);
  font-size: 1.2rem;
  font-weight: 400;
  gap: 2rem;
}

.cabecalho__nav--item {
  color: #FFF2E7;
  position: relative;
}

.cabecalho__nav--item::before {
  background-color: #FFF2E7;
  border-radius: 10px;
  bottom: -5px;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
  width: 100%;
}

.cabecalho__nav--item:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.conteudo{
  border-top: 0.4px solid #FFF2E7;
  margin: 0 0 4rem;
}

.conteudo__principal{
  align-items: center;
  display: flex;
  height: 85vh;
  justify-content: space-evenly;
}

.conteudo__principal--texto{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

.conteudo__principal--texto--titulo{
  color: #FFF2E7;
  font-family: var(--righteous);
  font-size: 4rem;
}

.conteudo__principal--texto--subtitulo{
  color: #ECD6C4;
  font-family: var(--sarala);
  font-size: 1.3rem;
}

.conteudo__principal--texto--botao{
  background-color: #ECD6C4;
  border-radius: 1.3rem ;
  box-shadow: 4px 5px 4px 0px #00000040;
  color: #2F2325;
  font-family: var(--sarala);
  font-size: 1.3rem;
  height: 4rem;
  transition: 0.3s;
  width: 12rem;
  
}

.conteudo__principal--texto--botao:hover{
  background-color: #2F2325;
  color: #ECD6C4;
  cursor: pointer;
}

.conteudo__principal--texto--botao:active{
  box-shadow: 0 0 0 0 #00000040;
  transform: translateY(4px);
  transition: ease-out;
}

.conteudo__principal--imagem{
  background: url('/assets/img/Ballebot.svg') center/contain no-repeat;
  height: 100%;
  width: 27rem;
}

.conteudo__secundario{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.conteudo__secundario--titulo{
  border-top: .4px solid #FFF2E7;
  color: #FFF2E7;
  font-family: var(--righteous);
  font-size: 1.5rem;
  padding: 4rem 0 4rem ;
}

.conteudo__secundario--lista{
  align-items: center;
  color: #ECD6C4;
  display: flex;
  flex-direction: column;
  font-family: var(--sarala);
  font-size: 1rem;
  gap: 1.5rem;
}

.rodape{
  border-top: .4px solid #FFF2E7;
  padding: 2rem;
}

.rodape__imagem{
  display: block;
  height: 3rem;
  margin: 0 auto;
}